<div class="levy">
  
  <div class="header">
    <img src="/assets/logo@2x.png" alt="logo" class="logo">
    <h1>常熟医保综合监管平台</h1>

    <a routerLink="/" class="back">
      <img src="/assets/back.png" alt="back">
      <span>返回</span>
    </a>
  </div>

  <div class="container">
    <div class="top"></div>
    <div class="bottom">
      <div class="left">
        <div class="section section1">
          <div class="head">
            <h2>险种征缴分布</h2>
          </div>
          <div class="content">
            <div echarts [options]="section1_Option" class="echarts"></div>
          </div>
        </div>
      </div>
      <div class="center">
        <div class="section section3">
          <div class="head">
            <h2>基金收入</h2>
          </div>
          <div class="content">
            <div echarts [options]="section3_Option" class="echarts"></div>
          </div>
        </div>
      </div>
      <div class="right">3</div>
    </div>
  </div>

</div>
