.levy {
  
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../../../assets/bg.jpg) no-repeat center top #333;
  background-size: 100% 100%;

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 24px;

    .section {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      
      .head {
        display: flex;
        align-items: center;
        height: 48px;
        color: #fff;
        padding-left: 56px;
        background: url(../../../assets/title_bg.png) no-repeat left center;
        background-size: auto 100%;
        h2 {
          display: inline-block;
          font-size: 20px;
          font-weight: 400;
          font-family: YouSheBiaoTiHei-Regular;
        }
        span {
          margin-left: 10px;
          font-size: 12px;
          color: #C3FFEF;
        }
      }
      .content {
        display: flex;
        flex-direction: row;
        flex: 1;
        border: 1px solid;
        border-image: linear-gradient(180deg, rgba(20, 179, 169, 0), rgba(20, 179, 169, 0.3)) 1 1;
        background: linear-gradient(180deg, rgba(22,241,183,0) 0%, rgba(8, 124, 125, .1) 99%);
        overflow-y: auto;
        margin-bottom: 10px;
        position: relative;
      }
      .echarts {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .top {
      display: flex;
      height: 18%;
      flex-direction: row;

      .left {
        width: 30%;
        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 50%;
          padding: 0 0 0 32px;
          img {
            margin-right: 10px;
            width: 48px;
            height: auto;
          }
          .name {
            font-size: 14px;
          }
          ::ng-deep .ant-statistic-content-value-int,
          ::ng-deep .ant-statistic-content-value-decimal {
            font-size: 24px;
            font-weight: bold;
            color: #C3FFEF;
            text-shadow: 0px 0px 8px rgba(65,197,189,0.8);
          }
          ::ng-deep .ant-statistic-content-suffix {
            font-size: 12px;
            font-weight: 500;
            color: #C3FFEF;
          }
        }
      }
      .center {
        display: flex;
        flex-direction: row;
        flex: 1;
        .item {
          display: flex;
          flex-direction: column;
          width: 20%;
          padding: 0 12px;
          align-items: center;
          justify-content: center;
          .number {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: bold;
            color: #31EAF2;
            line-height: 24px;
          }
          .name {
            font-size: 16px;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 24px;
            text-shadow: 0px 0px 8px rgba(65,197,189,0.8);
          }
          img {
            margin-top: -15px;
            width: 100%;
            height: auto;
          }
        }
      }
      .right {
        width: 28%;
        .head {
          background: none;
        }
        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 50%;
          padding: 0 0 0 32px;
          img {
            margin-right: 10px;
            width: 48px;
            height: auto;
          }
          .name {
            font-size: 14px;
          }
          ::ng-deep .ant-statistic-content-value-int,
          ::ng-deep .ant-statistic-content-value-decimal {
            font-size: 24px;
            font-weight: bold;
            color: #C3FFEF;
            text-shadow: 0px 0px 8px rgba(65,197,189,0.8);
          }
          ::ng-deep .ant-statistic-content-suffix {
            font-size: 12px;
            font-weight: 500;
            color: #C3FFEF;
          }
        }
      }
    }

    .bottom {
      display: flex;
      flex: 1;
      flex-direction: row;
      
      .left {
        width: 33.33%;
      }
      .center {
        width: 33.33%;
      }
      .right {
        width: 33.33%;
      }
      .section1, .section3, .section5 {
        height: 42%;
      }
      .section2, .section4, .section6 {
        height: 58%;
      }
      .top-list {
        ul {
          width: 100%;
          li {
            display: flex;
            flex-direction: row;
            height: 30px;
            &.th {
              span {
                font-size: 12px;
                color: #C3FFEF;
              }
            }
            &:nth-child(even) {
              background: rgba(54, 195, 226, 0.10);
            }
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              &.no {
                width: 90px;
              }
              &.index {
                background: url(../../../assets/insured/index_icon.png) no-repeat center center;
                background-size: 32px auto;
              }
              &.name {
                width: 180px;
              }
              &.unit {
                flex: 1;
                .percent {
                  width: 70%;
                  height: 10px;
                  margin-left: 15px;
                  margin-right: 15px;
                  b {
                    display: block;
                    height: 100%;
                    background: linear-gradient(270deg, #087C7D 0%, #0095C3 100%);
                    border: 1px solid #2EE2B2;
                  }
                }
                ::ng-deep .ant-statistic {
                  width: 80px;
                }
                ::ng-deep .ant-statistic-title {
                  margin: 0;
                }
                ::ng-deep .ant-statistic-content {
                  font-size: 16px;
                }
              }
            }
            em {
              font-style: normal;
              font-weight: 500;
            }
            &:nth-child(2) {
              .index {
                background: url(../../../assets/insured/index_icon01.png) no-repeat center center;
                background-size: 32px auto;
              }
            }
            &:nth-child(3) {
              .index {
                background: url(../../../assets/insured/index_icon02.png) no-repeat center center;
                background-size: 32px auto;
              }
            }
            &:nth-child(4) {
              .index {
                background: url(../../../assets/insured/index_icon03.png) no-repeat center center;
                background-size: 32px auto;
              }
            }
          }
        }
      }

    }

  }

}
